html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: darkgray;
}

canvas { 
	position: absolute;
	width: 80%;
	background-color: white; 
	left: 10%;
	top: 7%;
}

#logo {
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: 150px;
	height: 100px;
}

#toolbar {
	position: absolute;
	width: 100%;
	height: 24px;
	background-color: #045FB4;
	text-align: center;
}

.tool {
	position: relative;
	display: inline-block;
	width: 32px;
	height: 32px;
	background-color: white;
	border-radius: 100%;
	margin: 0 auto;
	margin-top: 5px;
	cursor: pointer;
}

.tool:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: -2px;
	top: -2px;
	border-radius: 100%;
	border: 2px solid #045FB4;
}

.saveSpot {
	background-image: url(../images/saveIcon.svg);
	background-size: 70% 70%;
	background-repeat: no-repeat;
	background-position: center;
}

.sizeSpot:before {
	content: "";
	position: absolute;
	width: 1px;
	height: 90%;
	top: -0.5px;
	background-color: black;
	border-bottom-left-radius: 100%;
	border-bottom-right-radius: 100%;
	transform: rotate(30deg);
}

#brushSize1px:before {
	width: 1px;
	left: 16px;
}

#brushSize5px:before {
	width: 3px;
	left: 15.5px;
}

#brushSize10px:before {
	width: 5px;
	left: 14.5px;
}

#brushSize15px:before {
	width: 8px;
	left: 13px;
}

#brushSize20px:before {
	width: 12px;
	left: 11px;
}

#brushSize25px:before {
	width: 15px;
	left: 9.5px;
}
